.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 64px;

    position: static;
    width: 738px;
    height: 755px;

    /* White */

    background: #FFFFFF;

    border: 1px solid #D8D8D8;
    box-sizing: border-box;
}

.loginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 56px;

    position: static;
    width: 548px;
    height: 59px;
    left: 0px;
    top: 0px;

    background: #8367D8;
}

.loginButtonFacebok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 56px;

    position: static;
    width: 262px;
    height: 59px;
    left: 0px;
    top: 0px;

    background: #0066CC;
}

.loginButtonGmail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 56px;

    position: static;
    width: 262px;
    height: 59px;
    left: 286px;
    top: 0px;

    /* Red */

    background: #CC0000;
}

.outerLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 548px;
    height: 59px;
    left: 0px;
    top: 83px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.loginFormTitle {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;

    background: #FCFCFC;
}

.loginFormContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 548px;
    height: 501px;


    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 48px 0px;
}

.loginTextInput {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 42px 18px 24px;

    position: static;
    width: 548px;
    height: 63px;
    left: 0px;
    top: 43px;
}

.inputFields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 548px;
    height: 295px;
}

.singleInputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 548px;
    height: 157px;
    left: 0px;
    top: 138px;
}

.pageName {
    width: available;
    height: 60px;
    background-color: #FCFCFC;
}

.loginTitle {
    width: 200px;
    height: 19px;
    left: 160px;
    top: 151px;

    /* Link/Active */

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    /* Text/Dark */

    color: #252525;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 548px;
    height: 142px;
    left: 0px;
    top: 359px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 64px 0px;
}
