.pageName {
    height: 60px;
    left: 0px;
    background-color: #FCFCFC;
}

.aboutUsTitle {

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #252525;
}

.aboutUsContentBox {
    flex-direction: column;
    padding: 10px;

}

.aboutUsText {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #9B9B9B;
}


.aboutUsTitleLarge {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.84px;

    color: #000000;
}
