.pageName {
    width: available;
    height: 60px;
    background-color: #FCFCFC;
}

.privacyAndPolicyTitle {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #252525;
}

.privacyAndPolicyContentBox {
    display: flex;
    flex-direction: column;
}

.privacyAndPolicyText {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #9B9B9B;
}
